@charset "UTF-8";

:root {
   --color-01: #31b1fb;
   --color-02: #80D0C7;
   --color-03: #91EAE4;
   --color-bg: #131111;

   --font-default: 'Poppins', Arial, sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body, .root {
   width: 100%;
   height: auto;
   min-height: 100vh;
}

body {
   min-height: 100vh;
   font-family: var(--font-default);
}

img {
   width: 100px;
}